body {
    font-family: Arial, sans-serif;
    background-color: #1da2f4;
    margin: 10px;
    padding: 10px;
}
h1 {
    color: #060303;
    text-align: center;
}
header {
    background-color: #1dacf4;
    color: rgb(4, 0, 10);
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}
header h1 {
    margin: 0;
    color: #0b0a0a;
}
head {
    background-color: #1da2f4;
    text-align: center;
}
form {
    background-color:#1da2f4;
    padding: 20px;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"], input[type="password"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #09e051;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #1da2f4;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #1da2f4;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.container.header {
    flex-direction: column;
    align-items: center;
}
.stat-card {
    background-color: #1da2f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
div.container {
    margin-bottom: 20px;
    background-color: #1da2f4;
}

